<div class='col-sm-8 col-md-8 col-lg-8 offset-lg-2'>
  <div class="card">
    <div class="card-topper" style="background-image: url(<%= post.banner_image_url%>);"></div>
    <div class="card-block">
      <h3 class="article-title">
            <%= link_to post.title, post %>
        </h3>
        <div class="article-byline">
          <div class="published-by">by <%= link_to post.author.name, post.author %></div>
          <div class="separator">|</div>
          <div class="published-date"><%= post.published_date%></div>
        </div>
        <br>
        <div class="blurb">
          <div class="article-blurb">
          <%= link_to post do %>
          <%= truncate_html(post.body.html_safe, length: 80)%></div>
          <% end %>
          <!-- <div class="read_more"><%= link_to 'Read more...', post %></div> -->
        </div>
        
    </div>
  </div>
</div> 

<!-- <div class='col-sm-6 col-lg-8 offset-lg-2'>
  <div class="article-block">
    <div class="article-image">
      <%= link_to post do %>
        <img class="image" src='<%= post.banner_image_url %>')>
      <% end %>
    </div>
      <div class="article-body">
        <h4 class="article-title">
            <%= link_to post.title, post %>
        </h4>
        <div class="article-byline">
          <div class="published-by">by <%= link_to post.author.name, post.author %></div>
          <div class="separator">|</div>
          <div class="published-date"><%= post.published_date%></div>
        </div>
        <br>
        <div class="blurb">
          <p class="article-blurb"><%= truncate_html(post.body.html_safe, length: 80)%></p>
        </div>
        
      </div>

  </div>
</div> -->