<% provide(:page_title, @post.title)%>

	<div class=" show_post cold-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
		<h1><%= @post.title %></h1>
		<div class="published-date"><%= @post.author.name %> | <%= @post.published_date%></div>
				<%= render 'social_link' %>
		<p class="article-content"><%= @post.body.html_safe %></p>
		
		<%= render 'disqus' %>
		<br>
		<div align="center">
			<%= render 'ads' %> 
		</div>
		
	</div>






