<h1 class="edit">edit profile</h1>

<%= form_for(@author, html: {multipart: true}) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %> 

	<%= f.file_field :avatar %>

	<%= f.label :description %>
	<%= f.text_area :description %> 
	
	<%= f.label :password %> 
	<%= f.text_field :password %>

	<%= f.submit "Save changes" %> 
<% end %>
