<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title)%>|OpEd|</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= tinymce_assets %>
    <!-- tiny mce -->
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <!-- fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">  
  
    <link href="http://allfont.net/allfont.css?fonts=montserrat-light" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet"> 
    <!--  -->

  </head>

  <body>
      <%= render 'layouts/navbar' %>
    <div class="container">

      <% if notice or alert %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>

    	<%= render 'layouts/footer' %>
      
      

    	<div class="container <%= controller_name %> <%= action_name %>">
    		<%= yield %>
    	</div>
    </div>
    <!--  -->
    <script type="text/javascript">$(document).ready(function() {
    var script = 'http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-583665b72cde5f5c';
    if (window.addthis){
        window.addthis = null;
        window._adr = null;
        window._atc = null;
        window._atd = null;
        window._ate = null;
        window._atr = null;
        window._atw = null;
    }
    $.getScript( script, function() {
        addthis.layers({
            'theme' : 'transparent',
            'share' : {
                'position' : 'left',
                'numPreferredServices' : 6
            },
            'follow' : {
                'services' : [
                    {'service': 'facebook', 'id': 'oped'},
                    {'service': 'twitter', 'id': 'oped'}
                ]
            },
            'whatsnext' : {},
            'recommended' : {}
        });
    });
});
</script>
    <!--  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--  -->
    <script>
      $(window).scroll(function(event){
        // console.log($(window).scrollTop());
        if ($(window).scrollTop() > 50) {
          // Hide the Bar
          $("body").addClass("hide-bar");
        } else {
          // Show the Bar
          $("body").removeClass("hide-bar");
        }
      });
    </script>
    <!--  -->
  </body>
</html>