<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title)%>|OpEd|</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- tiny mce -->
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    
    <!-- end -->
  </head>

  <body>
  	<%= render 'layouts/navbar' %>
    <div class="container">

      <% if notice or alert %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>

    	<%= render 'layouts/footer' %>
      
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-583665b72cde5f5c"></script>

    	<div class="container <%= controller_name %> <%= action_name %>">
    		<%= yield %>
    	</div>
    </div>
  </body>
</html>